body {
  background-image: url("../images/blueprint.png");
  background-repeat: repeat;
  font-family: "Open Sans", sans-serif;
}
header, footer {
  background-color: #333;
  color: #ddd;
  padding: 1rem;
  text-align: center;
}
.browsehappy {
  text-align: center;
}
#calculator {
  outline: 0; /* don't allow the div calculator to show a border when focused */
  width: 70rem !important;
  margin-bottom: 2.5rem;
}
#output {
  overflow-x: auto;
  overflow-y: hidden;
  font-size: 4.75rem;
  width: 100%;
  height: 14.3rem;
  margin-top: 2.5rem;
  background: white;
  text-align: right;
  border: 1px solid #dddddd;
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
}
.dimmed {
  color: #cccccc;
}
#calculator:focus #output {
  box-shadow: 0 0 5px #51cbee;
  border: 1px solid #51cbee;
}
#decimal {
  width: 100%;
  height: 2rem;
  text-align: right;
}
#buffer {
  position: absolute;
  bottom: 1.55rem;
  right: 1.25rem;
  visibility: hidden;
}
#parsed {
  position: absolute;
  bottom: 1.25rem;
  left: 1.25rem;
  visibility: hidden;
}
.btn {
  height: 7.5rem;
  font-size: 5rem;
  padding-bottom: 8rem;
  margin-bottom: 1rem;
}
.symbol {
  font-size: 6rem;
}
.credit {
  text-align: center;
}
