body {
  background-image: url("../images/blueprint.png");
  background-repeat: repeat;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
#output {
  font-size: 4.5rem;
  width: 95%;
  height: 7.5rem;
  margin-top: 2.5rem;
  margin-left: 2.5rem;
}
#input {
  font-size: 5rem;
  display: block;
  width: 95%;
  margin: 0 auto;
  margin-top: 1.25rem;
}
#decimal {
  position: absolute;
  top: 8rem;
  right: 3%;
}
#buffer {
  position: absolute;
  bottom: 1.25rem;
  right: 1.25rem;
}
#parsed {
  position: absolute;
  bottom: 1.25rem;
  left: 1.25rem;
}
